.dashboardTop {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 1440px;
    margin: 24px auto 0;
    padding: 10px 16px;
    display: flex;
    justify-content: flex-end;

}

.dashboard {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 1440px;
    margin: 24px auto 50px;
}