.searchBlock {
    display: flex;
    align-items: center;
    position: relative;
}

.searchInput {
    padding: 15px 14px;
    border-radius: 8px;
    color: rgb(18, 25, 38);
    font-weight: 500;
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(248, 250, 252);
    font-family: "Roboto", sans-serif;
    width: 250px;
}

.searchIcon {
    font-size: 30px;
    position: absolute;
    left: 240px;
    top: 2px;
    display: none;
}

.searchIcon.active {
    display: block;
}